---
layout: default
---
<h1>{{ page.category | capitalize }}</h1>
{% assign sorted_posts = site.posts | sort: 'title' %}
{% assign category_posts = sorted_posts | where_exp: "post", "post.categories contains page.category" %}
{% assign tags = category_posts | map: 'tags' | join: ',' | split: ',' | uniq | sort %}
<ul>
{% for tag in tags %}
  {% if tag != '' %}
    <li>
      <span>{{ tag | capitalize}}</span>
      <ul>
        {% for post in category_posts %}
          {% if post.tags contains tag %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}
</ul>