---
layout: default
---
<img src="/assets/about/avatar.png" alt="Description of image" style="display: block; margin: 0 auto 5% auto; width: 25%">

<h3 style="font-weight: bold; text-align: center;">👋 Hi, I'm Pierrick, nice to meet you 👋</h3>

<p style="text-align: justify">
    I'm a solution architect at Volvo Group, where I design and build IT solution based on requirements/problematics
    gathered from the business.
    
    My background includes a strong experience as developer and as technical leader, helping me to encounter and resolve a
    lot of issue during development stage.
    
    In my free time, you'll find me playing tennis/basket or reading a book/watching a movie. I also like to discover new
    countries, next trip is already set to Edinburgh in Scotland
</p>


<div style="width: 30%; margin: 0 auto; display: flex; align-items: center; justify-content: space-around;">
    <a style="font-size: 2rem; text-decoration: none;" href="/categories/coding">👨‍💻</a>
    <a style="font-size: 2rem; text-decoration: none;" href="/categories/recipes">👨‍🍳</a>
    <a style="font-size: 2rem; text-decoration: none;" href="/categories/travels">🌍</a>
</div>