---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            -
            <span>
                {% capture read_time %}
                {{ page.content | number_of_words | divided_by: 150 }}
                {% endcapture %}

                {% if read_time != '0' %}
                {{ read_time }}
                {% else %}
                1
                {% endif %} min read
            </span>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                    itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
        </p>
        <p class="post-meta">
            Category: {% for category in page.categories %}
            <a href="/categories/{{ category | slugify }}">{{ category }}</a>
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
            <br/>
            Tags: {% for tag in page.tags %}
            <a href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
            {% unless forloop.last %} {% endunless %}
            {% endfor %}
        </p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>